*.py text eol=lf
*.html text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.githooks/* text eol=lf
src/autobookkeeping/validation/*.xslt -text whitespace=-trailing-space
src/autobookkeeping/validation/sources.json text eol=lf
